.EmployeeList {
	
}

.EmployeeList img {
    width: 200px; /* Set your desired width */
    height: 200px; /* Set your desired height */
    object-fit: cover; /* Optional: Preserve aspect ratio */
    margin: 5px; /* Optional: Add margin between images */
}
