html, body, #root{
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: linear-gradient(red, orange);
    font-size: x-large;
}

a {
    color: blue;
}

form{
    width: 300px;
    text-align: left;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 10px 10px 10px;
    border-radius: 10px;
    border: 1px solid;
}

form > input, form > button{
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.error{
    color: blue;
    position: absolute;
    margin-left: 50px;
    font-weight: bold;
}

table, th, td {
    border: 1px solid black;
}  